.card-container{
    border: 0.5px;
    width: 300px;
    background-color: #ffffff;
    margin: 50px;
    box-shadow: 2px 2px 2px #888888;
    border-radius: 5px;
}

img{
    border-radius: 5px;
    width: 300px;
    height: 300px;
}

.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
